:root{
}
.top-page{
    background: radial-gradient(circle, #FFEAD2 0%, #FFCDB2 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}